<!DOCTYPE html>
<html>

<head>
    <title>Shopping-cart</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./index.css">
</head>

<body id="demo">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="./index.html">Nike</a>
        </div>
        <!-- 右選單 -->
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <button data-toggle="collapse" data-target=".navbar-ex2-collapse"><i
                        class="glyphicon glyphicon-shopping-cart"></i></button>
                <ul class="dropdown-menu navbar-ex2-collapse">
                    <li v-for="buy in buys">
                        <a>
                            <button @click='remove(buy)'>X </button>{{buy.name}}</a>
                        <p class="size">SIZE: {{buy.size}}
                            <select v-model='buy.size'>
                                <option value="{{buy.allsize[0]}}">{{buy.allsize[0]}}</option>
                                <option value="{{buy.allsize[1]}}">{{buy.allsize[1]}}</option>
                                <option value="{{buy.allsize[2]}}">{{buy.allsize[2]}}</option>
                                <option value="{{buy.allsize[3]}}">{{buy.allsize[3]}}</option>
                            </select>
                        </p>
                        <p>
                            <button @click='lmin(buy)' class="fix" type="button">–</button>{{buy.num}}
                            <button @click='ladd(buy)' class="fix" type="button">+</button><span>{{buy.money | currency '$' 0}}</span></p>
                    </li>
                    <hr>
                    <li>
                        <p class="total">{{totalnum}} 件 <span>{{total | currency '$' 0}}</span></p>
                    </li>
                    <li class="checkout">
                        <button @click='check' class="check" type="button">結帳</button>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="carousel-id" class="carousel slide" data-ride="carousel">
        <!-- 幻燈片小圓點區 -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-id" data-slide-to="0" class=""></li>
            <li data-target="#carousel-id" data-slide-to="1" class=""></li>
            <li data-target="#carousel-id" data-slide-to="2" class="active"></li>
        </ol>
        <!-- 幻燈片主圖區 -->
        <div class="carousel-inner">
            <div class="item">
                <img src="http://images.nike.com/is/image/DotCom/PDP_HERO_S/554724_034_A_PREM/air-jordan-1-mid-E794B7.jpg" alt="">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>AIR JORDAN 1 MID</h1>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="http://images.nike.com/is/image/DotCom/PDP_HERO_S/806386_010_A/air-E794B7E6ACBE-t-E681A4.jpg" alt="">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>NIKE SIGNAL LOGO</h1>
                    </div>
                </div>
            </div>
            <div class="item active">
                <img src="http://images.nike.com/is/image/DotCom/PDP_HERO_S/819151_005_A_PREM/air-huarache-ultra.jpg" alt="">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>NIKE AIR HUARACHE ULTRA</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- 上下頁控制區 -->
        <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span
                class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#carousel-id" data-slide="next"><span
                class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <div class="container">
        <div class="row"></div>
    </div>
    <div id="product" class="container-fulid">
        <input type="radio" id="all" value="All" v-model="picked" checked>
        <label for="all">All</label>
        <input type="radio" id="top" value="Top" v-model="picked">
        <label for="top">Top</label>
        <input type="radio" id="bottom" value="Bottom" v-model="picked">
        <label for="bottom">Bottom</label>
        <input type="radio" id="shoes" value="Shoes" v-model="picked">
        <label for="shoes">Shoes</label>
        <div class="row">
            <div v-for="product in products" class="product col-xs-12 col-sm-4 col-lg-3">
                <img v-bind:src="product.img">
                <p class="name">{{product.name}}</p>
                <p>{{product.money | currency '$' 0}}</p>
                <select v-model="product.sizes">
                    <option value="{{product.size[0]}}" SELECTED>{{product.size[0]}}</option>
                    <option value="{{product.size[1]}}">{{product.size[1]}}</option>
                    <option value="{{product.size[2]}}">{{product.size[2]}}</option>
                    <option value="{{product.size[3]}}">{{product.size[3]}}</option>
                </select>
                <p>type: {{product.type}}</p>
                <input type="text" v-model="product.name" class="hide">
                <input type="text" v-model="product.money" class="hide"> QTY
                <input class="num" type="num" value="{{num}}" v-model="product.num">
                <button @click='add(product.name,product.num,product.money,product.sizes,product)' class="add" type="button">Add to Cart</button>
            </div>
        </div>
    </div>
    <script src="./vue.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
    <script src="./index.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>